@import url('source-sans-pro.css');

html {
  font-family: 'Source Sans Pro', serif;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

#title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#outer {
  margin: auto;
}

#navbar {
  position: relative;
}

#query {
  font-size: 17px;
  padding: 5px;
  border: 1px solid #AAF;
}

#new {
  cursor: default;
  font-size: 13px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 8px;
  margin-top: 8px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: rgb(53, 122, 232);
}

#output {
  width: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #CCC;
}

#output::-webkit-scrollbar {
    display: none;
}

.tb_box {
  position: relative;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  width: 100%;
  padding: 5px;
}

.tb_box:last-child {
  border-bottom: 0;
}

.tb_header {
  margin-bottom: 5px;
  margin-right: 110px;
}

.tb_title {
  font-weight: bold;
  margin-right: 3px;
  min-height: 20px;
}

.tb_body {
  min-height: 20px;
}

.tb_tag {
  cursor: default;
  margin-right: 5px;
  font-size: 13px;
  color: white;
  white-space: nowrap;
}

.nametag {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(53, 122, 232);
  padding: 0px 5px 0px 6px;
}

.deltag {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(232, 50, 90, 0.8);
  padding: 0px 5px 0px 4px;
}

.newtag {
  cursor: default;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  padding: 0px 4px 0px 5px;
  background-color: rgb(53, 122, 232);
}

.control {
  display: none;
  position: absolute;
  top: 5px;
  float: right;
  cursor: default;
  font-size: 13px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 3px 0px 3px;
}

.revert {
  right: 67px;
  top: 0px;
  margin-top: 8px;
}

.save {
  right: 28px;
  top: 0px;
  margin-top: 8px;
}

.delete {
  font-size: 12px;
  right: 0px;
  top: 0px;
  margin-right: 7px;
  margin-top: 8px;
  width: 16px;
  height: 16px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgba(232, 50, 90, 0.8);
}

.tb_box[modified='true'] {
  border-left: 1px solid red;
}

.tb_box[modified='true'] > .revert {
  display: block;
}

.tb_box[modified='true'] > .save {
  display: block;
}

.tb_box:hover > .delete {
  display: block;
}

@media only screen and (min-device-width: 800px) {
  #outer {
    width: 600px;
  }

  #query {
    width: 600px;
  }

  #output {
    max-height: 500px;
  }
}

@media only screen and (max-device-width: 799px) {
  #title {
    display: none;
  }

  #query {
    font-size: 30px;
  }

  #new {
    width: 32px;
    height: 32px;
    font-size: 24px;
  }

  body {
    margin: 0;
  }

  #outer {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100% !important;
    height: 100%;
  }

  #query {
    width: 100%;
  }

  #output {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .revert {
    right: 77px;
  }

  .save {
    right: 38px;
  }
}
